{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="about_section layout_padding">
        <div class="container">
            <div class="about_section_2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image_2"><img src="{% static 'images/img-2.png' %}"></div>
                    </div>
                    <div class="col-md-6">
                        <h1 class="about_taital">Информация о нас</h1>
                        <p class="about_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised </p>
                        <p class="about_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised </p>
                        <p class="about_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

