{% load static %}

<div class="footer_section">
    <div class="container">
       <div class="footer_location_text">
          <ul>
             <li><img src="{% static 'images/map-icon.png' %}"><span class="padding_left_10"><a href="#">г.Борисов</a></span></li>
             <li><img src="{% static 'images/call-icon.png' %}"><span class="padding_left_10"><a href="#">Звоните: +375(44)7155808</a></span></li>
             <li><img src="{% static 'images/mail-icon.png' %}"><span class="padding_left_10"><a href="#">bezopilok@gmail.com</a></span></li>
          </ul>
       </div>
       <div class="row">
          <div class="col-lg-3 col-sm-6">
             <h2 class="useful_text">Важные ссылки</h2>
             <div class="footer_menu">
                <ul>
                   <li><a href="{% url 'home_page' %}">Домашняя</a></li>
                   <li><a href="{% url 'about_page' %}">История</a></li>
                   <li><a href="{% url 'catalogs_page' %}">Каталог</a></li>
                   <li><a href="{% url 'contact_page' %}">Контакт</a></li>
                </ul>
             </div>
          </div>
          <div class="col-lg-3 col-sm-6">
             <h2 class="useful_text">Наши задачи!</h2>
             <p class="lorem_text">Разработка совместно с вами, изготовление и установка различной мебели кастомного дизайна.</p>
          </div>
          <div class="col-lg-3 col-sm-6">
             <h2 class="useful_text">Социальные сети</h2>
             <div id="social">
                <a class="facebookBtn smGlobalBtn active" href="#" ></a>
                <a class="twitterBtn smGlobalBtn" href="#" ></a>
                <a class="googleplusBtn smGlobalBtn" href="#" ></a>
                <a class="linkedinBtn smGlobalBtn" href="#" ></a>
             </div>
          </div>
          <div class="col-sm-6 col-lg-3">
             <h1 class="useful_text">Вопросы ?</h1>
             <p class="footer_text">Наберите на любой номер телефона или заполните форму в контактах для письменного ответа.</p>
          </div>
       </div>
    </div>
 </div>