{% load static %}

<div class="header_section">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <div class="container">
          <a class="logo" href="{% url 'home_page' %}"><img src="{% static 'images/logo.png' %}"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                   <a class="nav-link" href="{% url 'home_page' %}">Домашняя</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="{% url 'about_page' %}">История</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="{% url 'catalogs_page' %}">Каталог</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="{% url 'search_page' %}">Поиск</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="{% url 'contact_page' %}">Контакты</a>
                </li>
             </ul>
             <form class="form-inline my-2 my-lg-0">
                <div class="search_icon">
                   <ul>
                      {% if user.is_authenticated %}
                         <li><a href="{% url 'logout' %}"><img src="{% static 'images/user-icon.png' %}">Logout from {{ user.username }}</a></li>
                      {% else %}
                         <li><a href="{% url 'login' %}"><img src="{% static 'images/user-icon.png' %}">Login</a></li>
                         <li><a href="{% url 'registration_page' %}"><img src="{% static 'images/user-icon.png' %}">Registration</a></li>
                      {% endif %}
                   </ul>
                </div>
             </form>
          </div>
       </div>
    </nav>
 </div>