{% load static %}

<div class="banner_section layout_padding">
    <div id="main_slider" class="carousel slide" data-ride="carousel">
       <div class="carousel-inner">
          <div class="carousel-item active">
             <div class="container">
                <div class="row">
                   <div class="col-md-6">
                      <h1 class="banner_taital">Лучший <br> дизайн <br> мебели !</h1>
                      <p class="banner_text">Совместно с вами мы сконструируем мебель любой сложности, при достаточно низкой цене </p>
                      <div class="btn_main">
                         <div class="contact_bt"><a href="{% url 'contact_page' %}">Связаться</a></div>
                      </div>
                   </div>
                   <div class="col-md-6">
                      <div class="image_1"><img src="{% static 'images/002.jpg' %}" height="400"></div>
                   </div>
                </div>
             </div>
          </div>
          <div class="carousel-item">
             <div class="container">
                <div class="row">
                   <div class="col-md-6">
                      <h1 class="banner_taital">Лучший <br> дизайн <br> мебели !</h1>
                      <p class="banner_text">Творческий подход в изготовлении мебели позволяют оставлять наших клиентов довольными</p>
                      <div class="btn_main">
                         <div class="contact_bt"><a href="{% url 'contact_page' %}">Связаться</a></div>
                      </div>
                   </div>
                   <div class="col-md-6">
                      <div class="image_1"><img src="{% static 'images/004.jpg' %}" height="400"></div>
                   </div>
                </div>
             </div>
          </div>
          <div class="carousel-item">
             <div class="container">
                <div class="row">
                   <div class="col-md-6">
                      <h1 class="banner_taital">Лучший<br> дизайн <br> мебели !</h1>
                      <p class="banner_text">Мы работаем на совесть и тщательно заботимся о нашей репутации </p>
                      <div class="btn_main">
                         <div class="contact_bt"><a href="{% url 'contact_page' %}">Связаться</a></div>
                      </div>
                   </div>
                   <div class="col-md-6">
                      <div class="image_1"><img src="{% static 'images/005.jpg' %}" height="400"></div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
       <i style="font-style: initial;"><=</i>
       </a>
       <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
       <i style="font-style: initial;">=></i>
       </a>
    </div>
 </div>