{% load static %}

<div class="contact_section layout_padding">
    <div class="container">
        <div class="contact_section_2">
            <div class="row">
                <div class="col-md-6">
                    <div class="mail_section_1">
                        <h1 class="contact_taital">Напишите нам</h1>

                        <form action="{% url 'contact_page' %}" method="post" class="custom-form contact-form" role="form">
                           {% csrf_token %}

                            {% if aform.non_field_errors %}
                                <div class="alert alert-error alert-dismissible fade show" role="alert">
                                   {{ aform.non_field_errors }}
                                   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}

                            {% if aform.username.errors %}
                                {{ aform.username.errors }}
                            {% endif %}
                            {{ aform.username }}
                            {{ aform.username.label }}

                            {% if aform.email.errors %}
                                {{ aform.email.errors }}
                            {% endif %}
                            {{ aform.email }}
                            {{ aform.email.label }}

                            {% if aform.company.errors %}
                                {{ aform.company.errors }}
                            {% endif %}
                            {{ aform.company }}
                            {{ aform.company.label }}

                            {% if aform.message.errors %}
                                {{ aform.message.errors }}
                            {% endif %}
                            {{ aform.message }}
                            {{ aform.message.label }}
                            <div class="send_bt">
                                <button type="submit"> Отправить </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map_main">
                        <div class="map-responsive">
                           <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d4666.785867869543!2d28.4864732!3d54.2085322!3m2!1i1024!2i768!4f13.1!2m1!1z0LHQvtGA0LjRgdC-0LIg0LLQtdGB0YLQsA!5e0!3m2!1sru!2sby!4v1695194380757!5m2!1sru!2sby" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>