{% load static %}

<div class="design_section layout_padding">
    <div id="my_slider" class="carousel slide" data-ride="carousel">
       <div class="carousel-inner">
          <div class="carousel-item active">
             <div class="container">
                <h1 class="design_taital">Лучшие образцы нашей мебели</h1>
                <p class="design_text">Приводится ориентировочная стоимость, реальная цена зависит от фурнитуры, размеров и материала</p>
                <div class="design_section_2">
                   <div class="row">
                      {% for product in product_list1 %}
                      <div class="col-md-4">
                         <div class="box_main">
                            <p class="chair_text">{{ product.name }}</p>
                            <div class="image_3" href="#"><img src="{{ product.image.url }}" height="200px"></div>
                            <p class="chair_text">{{ product.price }} P </p>
                            <div class="buy_bt"><a href="{% url 'product' product.slug %}">Купить</a></div>
                         </div>
                      </div>
                      {% endfor %}
                   </div>
                </div>
             </div>
          </div>
          <div class="carousel-item">
             <div class="container">
                <h1 class="design_taital">Лучшие образцы нашей мебели</h1>
                <p class="design_text">Приводится ориентировочная стоимость, реальная цена зависит от фурнитуры, размеров и материала</p>
                <div class="design_section_2">
                   <div class="row">
                      {% for product in product_list2 %}
                      <div class="col-md-4">
                         <div class="box_main">
                            <p class="chair_text">{{ product.name }}</p>
                            <div class="image_3" href="#"><img src="{{ product.image.url }}" height="200px"></div>
                            <p class="chair_text">{{ product.price }} P </p>
                            <div class="buy_bt"><a href="{% url 'product' product.slug %}">Купить</a></div>
                         </div>
                      </div>
                      {% endfor %}
                   </div>
                </div>
             </div>
          </div>
       </div>
       <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
       <i class="fa fa-long-arrow-left" style="font-size:24px"></i>
       </a>
       <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
       <i class="fa fa-long-arrow-right" style="font-size:24px"></i>
       </a>
    </div>
    <div class="container">
       <div class="read_bt"><a href="{% url 'catalogs_page' %}">Каталог</a></div>
    </div>
 </div>