{% load static %}

<div class="newsletter_section layout_padding">
    <div class="container">
       <div class="row">
          <div class="col-md-6">
             <div class="imgage_6"><img src="{% static 'images/img-6.png' %}"></div>
          </div>
          <div class="col-md-6">
             <h1 class="newsletter_taital">Поиск в каталоге</h1>
             <form action="{% url 'search_results' %}" method="get">
               <input name="search" type="text" class="email_text" placeholder="Впишите искомое">
               <div class="subscribe_bt">
                  <button type="submit" class="subscribe_bt"> Поиск </button>
               </div>
             </form>
          </div>
       </div>
    </div>
 </div>