{% load static %}
<!DOCTYPE html>
<html lang="ru">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <title>WDS_mebel</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <body>
      {% if messages %}
         {% for message in messages %}
         <div class="container-fluid p-0 useful_text bg-success">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="message_box">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true" onclick="buttonclose()">&times;</span>
                </button>
               {{ message }}
            </div>
         </div>
         {% endfor %}
      {% endif %}      
      {% block header %}
          {% include 'base/header.html' %}
      {% endblock header %}
      {% block content %}
      {% endblock content %}
      {% block footer %}
          {% include 'base/footer.html' %}
      {% endblock footer %}
      <div class="copyright_section">
         <div class="container">
            <p class="copyright_text">2023 Дизайн-студия корпусной мебели WDS_mebel </a></p>
         </div>
      </div>
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'js/plugin.js' %}"></script>
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
      <script src="{% static 'js/owl.carousel.js' %}"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         var message_tag = document.getElementById("message_box");
         function buttonclose(){
         message_tag.style.display = "none";
         };
      </script>
   </body>
</html>