{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <form method="post" class="custom-form contact-form">
                    {% csrf_token %}
                    {{ form }}    
                    <input type="submit" value="Login" class="form-control">
                </form>                    
            </div>
        </div>
    </div>
{% endblock content %} 