{% extends 'base.html' %}
{% load static %}
{% load shop_lib %}

{% block content %}
<div class="design_section">
    <div class="container">
        <h1>Каталог</h1>
        <div class="row gx-5">
            <div class="col-sm-2 p-4 border">
                <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'catalogs_page' %}">Весь каталог</a>
                </li>
                {% for category in categorys %}
                    <li class="nav-item">
                       <a class="nav-link" href="{% url 'category' %}?category={{ category.alias }}">{{ category.name }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-sm-10 p-5 border">
                <div class="row">
                    {% for product in page_obj %}
                        <div class="col-md-6">
                        <h2>{{ product.name }}</h2>
                            <img src="{{ product.image.url }}" alt="Изображение товара" width="400px">
                        <p>Категория - {{ product.category }}, <span>Цена - {{ product.price }} </span>Рублей</p>
                        <p>{{ product.short_desc }}</p>
                            <div class="buy_bt"><a href="{% url 'product' product.slug %}">Подробнее</a></div>
                        </div>
                    {% endfor %}
                </div>
            </div> 
        </div> 


        <div class="row">
            <p></p>
        </div>
        {% if is_paginated %}
        <div class="row">
            <ul>
                <li>
                    <a {% if page_obj.has_previous %} href="?page=1"{% endif %}>Первая</a>
                    <a {% if page_obj.has_previous %} href="?page={{ page_obj.previous_page_number }}"{% endif %}>Предыдущая</a>
                </li>
                {% for np in paginator.page_range %}
                <li>
                    <a href="?page={{ np }}">{{ np }}</a>                                        
                </li>                                
                {% endfor %}
                <li>
                    <a {% if page_obj.has_next %} href="?page={{ page_obj.next_page_number }}"{% endif %}>Следующая</a>
                    <a {% if page_obj.has_next %} href="?page={{ page_obj.paginator.num_pages }}"{% endif %}>Последняя</a>                                        
                </li>                                
            </ul>
        </div>                                  
        {% endif %}
        <p></p>
    </div>
</div>
{% endblock content %}
