{% extends 'base.html' %}

{% block content %}
<div class="design_section layout_padding">
    <div class="container">
        <h1>{{ object.name }}</h1>
        <img src="{{ object.image.url }}" alt="Изображение товара" width="400px">
        <p>Категория - {{ product.category }}, <span>Цена - {{ object.price }} </span>Рублей</p>
        <p>Добавлено в каталог - {{ object.created }}</p>
        <p>{{ object.short_desc }}</p>
        <p></p>
        {% if user.is_authenticated %}
            <h2>Для оформления заявки введите номер телефона (только цифры), менеджер с вами свяжется</h2>
            <form method="post" class="custom-form contact-form">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Оформить заявку!" class="form-control">
            </form>
        {% else %}
            <p>Для размещения заявки пройдите авторизацию</p>
            <div class="buy_bt"><a href="{% url 'login' %}">Login</a></div>
        {% endif %}
    </div>
</div>
{% endblock content %}   