{% extends 'base.html' %}

{% block content %}
<div class="design_section layout_padding">
    <div class="container">
        <h1>{{ object.name }}</h1>
        <img src="{{ object.image.url }}" alt="Изображение товара">
        <p>Категория - {{ product.category }}, <span>Цена - {{ object.price }} </span>Рублей</p>
        <p>Добавлено в каталог - {{ object.created }}</p>
        <p>{{ object.text }}</p>
        <p></p>
        {% if user.is_authenticated %}
            <div class="buy_bt"><a href="{% url 'order' object.slug %}">Заявка</a></div>
            <p></p>
            <h2>Оцените нашу работу и оставьте отзыв</h2>
            <form method="post" class="custom-form contact-form">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Отправить отзыв" class="form-control">
            </form>
        {% else %}
            <p>Для размещения отзыва и заявки пройдите авторизацию</p>
            <div class="buy_bt"><a href="{% url 'login' %}">Login</a></div>
        {% endif %}
        <p></p>
        <h2>Отзывы</h2>
        <p></p>
        {% for review in object.prod_review.all %}
            <p></p>
            <p>Клиент - {{ review.user }}</p>
            <p>Добавлен - {{ review.created }}</p>
            <p>Оценка - {{ review.grade_item }}</p>
            <p>{{ review.text }}</p>
            <p>------------------------------------------------------------</p>
        {% endfor %}
    </div>
</div>
{% endblock content %}   